* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
}

body {
  min-height: 100vh;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9px;
}

h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: rgb(240, 77, 13);
}
