* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
}

body {
  min-height: 100vh;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9px;
}

h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: rgb(240, 77, 13);
}

.container {
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#todo-input {
  width: 100%;
  background: none;
  border-radius: 600px;
  color: rgb(240, 77, 13);
  border: 2px solid var(rgb(35, 181, 229));
  box-sizing: border-box;
  font: inherit;
  caret-color: rgb(88, 36, 15);
  padding: 12px 20px;
}

#todo-input:focus {
  outline: none;
}

form {
  position: relative;
}
#add-button {
  position: absolute;
  top: 0;
  right: 500;
  margin-left: 7px;
  height: 100%;
  padding: 0 20px;
  border: none;
  border-radius: 400px;
  font-weight: bold;
  color: #121212;
  cursor: pointer;
  background-color: rgb(185, 112, 84);
}

.tarefas {
  margin-bottom: 10px;
  padding: 0 20px;
  background-color: rgb(141, 137, 137);
  border-radius: 40px;
  display: flex;
  align-items: center;
}

.tarefas .tarefas-texto {
  padding: 10px;
  padding-right: 0;
  flex-grow: 1;
}

.delete-button {
  padding: 3px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 25px;
}

.delete-button:hover {
  filter: invert(30%);
}

.customizar-checkbox {
  min-height: 20px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 2px solid rgb(9, 205, 9);
  border-radius: 50px;
  font-size: 0;
}

input[type="checkbox"]:checked ~ .customizar-checkbox {
  background-color: rgb(106, 243, 14);
}

input[type="checkbox"]:checked ~ .customizar-checkbox {
  font-size: 15px;
}

input[type="checkbox"]:checked ~ .tarefas-texto {
  text-decoration: line-through;
  color: grey;
}

input[type="checkbox"] {
  display: none;
}
